@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply m-0 p-0 box-border;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* BODY */

body {
    @apply bg-[#0F0D13];
}

body * {
    font-family: 'Roboto', sans-serif;
}

/* APP */

#app * {
    /* @apply border border-red-500; */
}

#app {
    @apply grid gap-8 grid-cols-[max-content_max-content] grid-rows-[min-content] place-content-center min-h-screen;
    grid-template-areas:
        "A B"
        "A C";


}

/* PLAYER 1 */
#player-1 {
    @apply py-[50px] px-[p38x] w-fit;
    grid-area: A;
}

#player-1 img {
    @apply w-[190px] h-[190px] object-cover rounded-md;
}

#player-1 .wrapper {
    @apply w-[190px];
}

#player-1 .info {
    @apply mt-7;
}

/* PLAYER 2 */

#player-2 {
    @apply h-fit;
    grid-area: B;
}

/* PLAYER 2 */

#player-3 {
    grid-area: C;
}

/* PLAYER */
.player {
    @apply bg-[#2a2141] p-[28px] rounded-[10px];
}

.player img {
    @apply w-[84px] h-[84px] object-cover rounded-md;
}

.info-wrapper {
    @apply flex gap-7 items-center;
}

/* INFO  */
.info {
    @apply text-[#e1e1e6];
}

.info .title {
    @apply font-bold text-2xl mb-[9.6px];
}

.info p {
    @apply font-normal text-[19px] opacity-[0.67];
}

/* Controls */
.controls {
    @apply flex justify-between text-[#e1e1e6] mt-7;
}

.horizontal .controls {
    padding-inline: 58px;
}

/* Track Time */
.track-time {}

.time {
    @apply text-xs text-[#c4c4cc] flex opacity-[0.7] justify-between mt-[9.6px];
}

.track {
    @apply relative mt-7;
}

.track::before {
    @apply bg-[#d9d9d9] opacity-[0.3] rounded-[10px] w-full h-[6px] block absolute;
    content: "";
}

.track::after {
    @apply bg-[#d9d9d9] rounded-[10px] w-[80%] h-[6px] block;
    content: "";
}

@media (max-width: 670px) {
    #app {
        @apply flex flex-col items-center max-w-[270px] m-auto h-auto;
        padding-block: 60ps;
    }

    .horizontal .controls {
        padding-inline: 30px;
    }
}