.loginContainer{
  display: grid;
  grid-template-columns: auto auto;
  height: 100vh;
  
  .leftSide{
    width: 50%;
    height: 100%;
  }

  .waveImage{
    height: 100%;
    width: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 800px){

  .loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .waveImage{
      display: none;
    }
  }
}